<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bookmarks</title>
</head>

<body>
  <ul>
  <%@links.each do |link|%>
    <li><a href="<%= link.url %>"> <%= link.title %> </a></li>
  <%end%>
</ul>
</body>

</html>